<div class="home-buttons-container">
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/auto-login/login'">Login</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/auto-login/logged-in'">Logged in</button>
  </div>
  <div class="home-button">
    <button type="button" mat-raised-button color="primary" [routerLink]="'/auto-login/logged-in/logged-in-too'">Logged in too</button>
  </div>
</div>
